/* TYPOGRAPHY */

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .uk-h1,
body .uk-h2, 
body .uk-h3, 
body .uk-h4, 
body .uk-h5, 
body .uk-h6, 
body .uk-heading-2xlarge, 
body .uk-heading-large, 
body .uk-heading-medium, 
body .uk-heading-small, 
body .uk-heading-xlarge {
    font-family: 'Bebas Neue', cursive;
    line-height: 1.5;
    letter-spacing: 1px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #777;
    font-size: 15px;
    line-height: 27px;
}

html body {
    font-size: 16px;
    color: #252525;
}

.main__content a {
    color: #aa0817;
    text-decoration: underline;
}

.main__content a:hover {
    color: inherit;
}

ul.uk-breadcrumb>*>* {
    color: #fff;
}

ul.uk-breadcrumb li:last-child a {
    font-weight: 700;
    text-decoration: underline;
}

ul.uk-breadcrumb>*>:focus,
ul.uk-breadcrumb>*>:hover {
    color: #fff;
}

a.uk-accordion-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

form label {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

h1.h1-title {
    color:#fff;
}

a.uk-button-secondary {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

a.uk-button-secondary:hover {
    background: white;
    color: #000;
}

.uk-text-medium {
    font-weight: 500;
}

.accent {
    color: #000;
}

.uk-white {
    color: #fff!important;
}

button.uk-button-primary,
a.uk-button-primary {
    background: black;
    padding: 5px 40px;
    color: #fff;
    border: 1px solid white;
    display: inline-block;
    font-size: 14px;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
    outline: none;
    border: none;
    text-decoration: none;
}

.slide_right:hover {
    box-shadow: inset 200px 0 0 0 #19202A;
}

body .uk-button-primary.uk-active, body .uk-button-primary:active,
body .uk-button-primary:focus, body .uk-button-primary:hover {
    background-color: #000000;
    color: #fff;
}

div.page__banner {
    background: #000!important;
}


/* NAVBAR */

nav.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #ffffff;
}

div.top-navbar .uk-navbar-nav>li>a {
    min-height: 40px;
    text-transform: unset;
}

div .uk-navbar-container>.uk-container .uk-navbar-left {
    margin-left: 0;
}

div.uk-navbar-dropdown {
    padding: 0;
}

div.uk-navbar-dropdown ul li {
    padding: 5px 10px;
}

div.uk-navbar-dropdown ul li:hover {
    background: #aa0817;
    transition: .3s;
    color: #fff;
}

div.uk-navbar-dropdown ul li:hover a {
    color: #fff;
    transition: .3s;
    padding-left: 5px;
}

div.uk-navbar-dropdown ul li {
    transition: .3s;
}

[class*=uk-navbar-dropdown-bottom]{
    margin-top: 0!important;
}

/* body svg {
    color: #C3002F;
} */

ul.uk-navbar-nav>li>a:not(.top-navbar a) {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: .1s;
    color: #000;
}

div ul.uk-navbar-nav>li>a:hover {
    transition: .3s;
    color: #aa0817!important;
}

ul.uk-nav-parent-icon>.uk-parent>a::after {
    transform: rotate(
        -90deg
        );
    position: absolute;
}

.mobile__wrapper ul li a {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #eee;
    transition: .3s;
}

div.uk-modal-dialog {
    background: #000;
}

/* HERO */

div.uk-overlay-hero {
    background:rgb(9 10 21 / 20%);
}

div.hero-text p {
    font-size: 17.5px;
}

@media screen and (max-width: 800px) {
    div.hero-text {
        padding: 20px;
    }


}

/* FEATURED SECTION */

.uk-section.uk-section-small.featured__section {
    margin-top: -150px;
}

.featured__section .uk-card-default,
.service__box .uk-card-default {
    box-shadow: none;
    transition: .3s ease;
    border: 1px solid #eee;
}

.featured__section .uk-card-default:hover,
.service__box .uk-card-default:hover {
    background: #000;
    color: #fff;
    transition: .3s ease;
}

.featured__section .uk-card-default:hover h3,
.featured__section .uk-card-default:hover svg,
.featured__section .uk-card-default:hover a.accent,
.service__box .uk-card-default:hover h3,
.service__box .uk-card-default:hover a.accent,
.service__box .uk-card-default:hover svg {
    color: #fff;
    transition: .3s ease;
    fill: #fff;
}

.service__box .uk-card-default:hover a.accent,
.featured__section .uk-card-default:hover a.accent {
    text-decoration: underline;
}

.featured__section .uk-card-default h3,
.featured__section .uk-card-default a {
    transition: .3s ease;
}

.featured__section .uk-card-default .svg__icons svg,
.service__box .uk-card-default .svg__icons svg {
    width: 50px;
}

/* FOOTER */

footer.footer {
    background: #000;
}

footer.footer h6,
footer.footer a {
    color: #fff;
}

div.footer-credit p,
div.footer-credit ul li a {
    font-size: 12px;
}

.contact-detail svg {
    color: #fff;
}

.contact-detail a {
    color: #000;
}

.service__list {
    columns: 2;
}

.footer-credit ul li {
    list-style: none;
}

footer.footer svg {
    transition: .3s;
}


/* FORM */

input.uk-input,
textarea.uk-textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
}

.contact-form-widget {
    background: white;
    padding: 60px 30px;
    box-shadow: 0px 0px 13px #b7b7b7;
}

.social-footer li {
    display: inline-block;
}