{{ define "main" }}
{{ $footerContact := .Site.Data.profile.contact_information }}
{{ $optBlock := dict "display" "block" }}
<div class="uk-section">
    <div class="uk-container main__content">
        <div class="uk-child-width-1-2@s uk-grid-large" uk-grid>
            <div>
                <img src="/assets/intro-dog.jpg" alt="">
            </div>
            <div>
                <h2>Why Choose {{ .Site.Data.profile.company_name }}</h2>
                {{ .Content }}
                <div class="uk-margin-large-top">
                    <a href="/contact" class="uk-button uk-button-primary">Get in touch</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

