{{ $footerSocial := .Site.Data.profile.social_media }}
{{ $contact := .Site.Data.profile.contact_information }}

<footer class="footer">
    <div class="uk-section uk-section-small">
        <div class="uk-container uk-container-large">
            <div class="uk-grid-match uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-1-2@s">
                    <div>
                        <img src="/assets/clear.png" alt="" width="200">
                    </div>
                </div>
                <div class="uk-width-1-2@s uk-text-right@m">
                    <div>
                        <ul class="uk-list social-footer">
                            <li><a href="https://www.instagram.com/shanewmurray" target="_blank" uk-icon="icon: instagram;ratio: 1.3"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-container uk-container-large uk-padding footer-credit">
        <hr>
        <div class="uk-grid">
            <div class="uk-width-1-2@m">
                <ul class="uk-padding-remove">
                    <li><span class="uk-text-small" style="color:#fff;">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }} &middot;</span>   <a href="https://hungryram.com" target="_blank" rel="nofollow">Website Developed by Hungry Ram</a></li>
                </ul>
                
            </div>
            <div class="uk-width-1-2@s">
                <ul class="hr-legals">
                    {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
                    <li class="uk-light uk-text-small uk-display-inline uk-margin-medium-left" onclick="navbaractive()"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>