<div class="uk-section uk-section-large" style="background:#f4f4f4">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-1-2@s uk-margin-medium-bottom">
                <div>
                    <img src="/assets/intro-dog.jpg" alt="">
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <h2 class="uk-text-bold uk-margin-large-bottom uk-heading-small">Frequently Asked Questions</h2>

                <ul uk-accordion="collapsible: false">
                    <li>
                        <a class="uk-accordion-title" href="#"><h3>How many sessions will my dog need? </h3></a>
                        <div class="uk-accordion-content main__content">
                            <p>That entirely depends on the severity of the dogs issues at hand and how much time and consistency you as the owner puts into the training. There is no quick fix when it comes to dog training. None that last anyway!</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#"><h3>How often are the sessions? </h3></a>
                        <div class="uk-accordion-content main__content">
                            <p>Typically 2-3 weeks in between. That gives you enough time to implement the things I am teaching you and the dog and then we continuously progress from there. </p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#"><h3>How long are the sessions? </h3></a>
                        <div class="uk-accordion-content main__content">
                            <p>The first one is about an hour to hour and a half. The following are 1 hour long. </p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#"><h3>If I have 2 dogs will they be trained at the same time? </h3></a>
                        <div class="uk-accordion-content main__content">
                            <p>I like to start with one first solo and then switch dogs. We need them to be able to focus alone before we can rely on them to do it together. </p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#"><h3>What will I need for the session? </h3></a>
                        <div class="uk-accordion-content main__content">
                            <p>Just your dog and leash and muzzle if necessary. I will bring everything else to see what works best with your dog. </p>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>