<div class="uk-section uk-section-large" style="background:#f4f4f4">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-1-2@s uk-margin-medium-bottom">
                <div>
                    <img src="/assets/intro-dog.jpg" alt="">
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <h2 class="uk-text-bold uk-margin-large-bottom uk-heading-small">Frequently Asked Questions</h2>

                <ul uk-accordion="collapsible: false">
                    <li>
                        <a class="uk-accordion-title" href="#"><h3>Lorem ipsum dolor sit amet consectetur adipisicing?</h3></a>
                        <div class="uk-accordion-content main__content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias magni ipsum vel cupiditate inventore iusto quis corporis distinctio delectus placeat.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#"><h3>Lorem ipsum dolor sit amet consectetur adipisicing?</h3></a>
                        <div class="uk-accordion-content main__content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias magni ipsum vel cupiditate inventore iusto quis corporis distinctio delectus placeat.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#"><h3>Lorem ipsum dolor sit amet consectetur adipisicing?</h3></a>
                        <div class="uk-accordion-content main__content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias magni ipsum vel cupiditate inventore iusto quis corporis distinctio delectus placeat.</p>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>