
<div class="uk-cover-container uk-flex uk-flex-center uk-flex-middle" uk-height-viewport style="background:url(/assets/bg.jpg) no-repeat center;background-size:cover">    
    <div class="uk-overlay-hero uk-position-cover"></div>
    <div class="hero-text uk-white uk-width-3-5@s uk-text-left uk-flex uk-flex-left uk-position-relative">
        <div class="uk-width-xlarge uk-text-left">
            <h1 class="uk-margin-remove uk-white uk-heading-medium">{{ .Site.Data.home.hero_image.heading }}</h1>
            <p class="uk-text-normal">{{ .Site.Data.home.hero_image.body }}</p>
            <a href="/contact" class="uk-button-secondary uk-button uk-text-bold">Get in touch</a>
        </div>
    </div>
</div>