{{ $optBlock := dict "display" "block" }}

<div class="uk-section uk-section-large">
    <div class="uk-container">
        <div class="uk-grid-large uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
                <img src="/assets/2-dogs.jpg" alt="Randy Nong sitting in RN Insurance office">
            </div>
            <div class="uk-width-3-5@s">
                <div class="uk-card">
                    <h2 class="uk-heading-small">AdaptK9 Dog Training</h2>
                    <p>As a professional dog trainer, my job is to help you and your dog achieve your goals. I will teach you how to be the best owner for your dog and build a healthy relationship with them based on trust and clear consistent communication. 
                    </p> 
                    <p>Evidently, you will become the dog trainer with the knowledge I provide for you and the skills that I would be teaching you. My most common dogs are reactive dogs whether it's fear, aggression, or friendly fraternization. No matter what your goals are, I will help you and your dog achieve them. Contact me today to get started!</p>
                    <div class="uk-margin-large-top">
                        <a href="/about" class="uk-button uk-button-primary slide_right">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>