{{ $optBlock := dict "display" "block" }}
<div class="uk-section service__box">
    <div class="uk-container">
        <div class="uk-flex uk-flex-center">
            <div class="uk-width-2xlarge uk-text-center editable">
                <h2 class="uk-text-center uk-heading-small">Dog Training Services</h2>
                <p>At AdaptK9, we offer a variety of services to meet your dog training needs. Our packaged services include everything from obedience training to behavior modification. Customize a program to fit your dog's unique personality and needs. Contact us today to learn more about our services and how AdaptK9 Dog Training can help you create a better bond with your furry friend.</p>
            </div>
        </div>
        <div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-2@s uk-text-center uk-margin-large-top" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <h3 class="uk-h2">2 Dog Session</h3>
                        <p>Training will cover the basic sit, down, stay, place. The foundation of Heel and recall and stay will be set but those are behaviors that take a good amount of time and work to be reliable.</p>
                        <div class="uk-margin-small-top">
                            <a href="https://www.vagaro.com//Users/BusinessWidget.aspx?enc=MMLjhIwJMcwFQhXLL7ifVO3jmy4+Ki5yLvomjlhE319VM8CoYbbnykpRaVItaP1JZsB4LtAoztazqvZH9diMrD1Hvesz+jIeVdN/ZSUPIPggJn6s2v5JVmZzIKGPItV4xYi/IAc1F/OPUzn4lgofSQ8TwpY69fdXhj8E7oZzZjgJdoFMf7oraCil8Ft6SEQyKtRfsDOI+Q4Uo5W1sb1ZqVbApJFrzl8tpmjFkjWznNxXF1bTuaso7dhIOE2IWExw1V1rwcgFEnMEoDOCwTVSu9n5lXD7aWbOvko/dS+0BsmgUsmm1vVdqy+k3JZ7VV42NLidxy0NGllW//hlDGxPsZginGZFkKuSsk/OoEQidIrznq/nJmOJkm9o/Bb5Q71G" class="accent uk-text-bold" target="_blank">Book now <span uk-icon="chevron-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <h3 class="uk-h2">Group Class</h3>
                        <p>Group class will be held every Sunday at 6:30 PM your dog must complete at least one private session with the trainer so we can be sure your dog is ready for group class.</p>
                        <div class="uk-margin-small-top">
                            <a href="https://www.vagaro.com//Users/BusinessWidget.aspx?enc=MMLjhIwJMcwFQhXLL7ifVO3jmy4+Ki5yLvomjlhE319VM8CoYbbnykpRaVItaP1JZsB4LtAoztazqvZH9diMrD1Hvesz+jIeVdN/ZSUPIPggJn6s2v5JVmZzIKGPItV4xYi/IAc1F/OPUzn4lgofSQ8TwpY69fdXhj8E7oZzZjgJdoFMf7oraCil8Ft6SEQyKtRfsDOI+Q4Uo5W1sb1ZqVbApJFrzl8tpmjFkjWznNxXF1bTuaso7dhIOE2IWExw1V1rwcgFEnMEoDOCwTVSu9n5lXD7aWbOvko/dS+0BsmgUsmm1vVdqy+k3JZ7VV42NLidxy0NGllW//hlDGxPsZginGZFkKuSsk/OoEQidIrznq/nJmOJkm9o/Bb5Q71G" class="accent uk-text-bold" target="_blank">Book now <span uk-icon="chevron-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="uk-margin-medium-top uk-text-center">
            <a href="/contact" class="uk-button uk-button-primary slide_right">Get in touch</a>
        </div>
    </div>
</div>